<div class="forum-container">
  <h1 class="forum-title">Forum</h1>
  <div class="forum-body" [class.menu-open]="isMenuOpen">

    <div class="aside">
      <p class="forum-subtitle">Your space for astrological discussions.</p>
      <button *ngIf="isAuthenticated" mat-flat-button (click)="createPost()">
        Add a new post
      </button>
      <p *ngIf="!isAuthenticated" class="prompt">
        Please <a href="/login" class="main-link">Login</a> to participate in the Forum.
      </p>
    </div>

    <div class="posts-area">
      <h2 class="recent-posts-title">
        RECENT POSTS BY THE ASTROCOMMUNITY
      </h2>

      <div class="posts-scroll">
        <div *ngFor="let data of paginatedPosts">
          <mat-card class="post-card" appearance="outlined">
            <div class="card-content">
              <img class="avatar" [src]="getUserAvatar(data.zodiacSign)" alt="User avatar">
              <div class="post-content">
                <h3 class="post-title">{{ data.post.postTitle }}</h3>
                <p class="post-subtitle">
                  {{ data.post.postDate | date:'dd/MM/yyyy' }} By {{ data.username }}
                </p>
                <p class="post-description">
                  {{ data.post.postContent | slice:0:150 }}
                  <span *ngIf="data.post.postContent.length > 150">...</span>
                </p>
                <div class="comment-count">
                  <p><mat-icon class="comment-icon">comment</mat-icon> {{ getCommentCount(data.post) }}</p>
                </div>
                <button mat-raised-button (click)="viewPost(data.post.postId!)">
                  <mat-icon>explore</mat-icon>
                  Go to the post 
                </button>            
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <mat-paginator 
        class="posts-paginator"
        [length]="posts.length"
        [pageSize]="pageSize"
        (page)="onPaginate($event)">
      </mat-paginator>
    </div>
  </div>
</div>
