.header-toolbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: #9b2a9b;
  background: linear-gradient(145deg, #0d0221, #20004d, #5c007a);
  position: relative; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);

  @media (max-width: 768px) {
    position: sticky; 
    top: 0; 
  }

 img {
  height: auto;
  width: 150px;

  @media (min-width: 576px) {
    width: 170px;
  }

  @media (min-width: 992px) {
    width: 180px;
  }

  @media (min-width: 1200px) {
    width: 200px;
  }
 }
}

.menu-toggle {
  position: absolute; 
  left: 16px; 
  top: 50%; 
  transform: translateY(-50%);
  color: #DDD;

  @media (min-width: 768px) {
    display: none;
  }
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  height: 28px; 
  cursor: pointer;

  @media (min-width: 576px) { 
    height: 35px;
   }

  @media (min-width: 768px) {
    height: 40px;
  }
}

.header-actions {
  display: flex; 
  align-items: center; 
  margin-left: auto; 
  gap: 16px;

  button {
    padding: 4px 8px; 
    font-size: 0.8rem; 
    width: 70px; 
    height: 32px; 

    @media (min-width: 992px) {
      font-size: 1rem;
      width: 85px; 
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}
