<mat-toolbar class="header-toolbar">
  <button mat-icon-button class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
  <img src="assets/logo/logo-def.png" alt="AstroPartner Logo" class="header-logo" [routerLink]="'/home'">
  <div class="header-actions" *ngIf="isDesktop">
    <button *ngIf="isAuthenticated" mat-raised-button (click)="logout()">Logout</button>
    <ng-container *ngIf="!isAuthenticated">
      <button mat-raised-button [routerLink]="'/login'">Login</button>
      <button mat-raised-button [routerLink]="'/register'">Register</button>
    </ng-container>
  </div>
</mat-toolbar>

<app-menu [isOpen]="isMenuOpen" (menuClosed)="closeMenu()"></app-menu>
