.post-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}

.return-link {
  align-self: flex-start;
  margin: 2rem;
  font-size: 0.9rem;
  text-decoration: none;
}

.mat-mdc-button:not(:disabled) {
    color: #1976d2;
    &:hover {
    background-color: rgba(25, 118, 210, 0.1);
  }
}

.post-form-container {
  width: 75%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  @media(min-width: 768px) {
    width: 100%;
  }
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1rem;
}
