<div class="planned-events">
  <h2 class="title">UPCOMING EVENTS</h2>
  <ng-container *ngIf="events && events.length > 0; else noEvents">
    <div class="table-wrapper">
      <table mat-table [dataSource]="events" class="events-table mat-elevation-z0">

        <ng-container matColumnDef="color">
          <td mat-cell *matCellDef="let event" 
              [ngStyle]="{ 'background-color': event.color }" 
              class="event-cell event-color">
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <td mat-cell *matCellDef="let event" class="event-cell event-title">
            {{ event.title.length > 25  ? (event.title | slice:0:25) + '...' : event.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="start">
          <td mat-cell *matCellDef="let event" class="event-cell event-date">
            {{ event.start | date:'dd/MM' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="end">
          <td mat-cell *matCellDef="let event" class="event-cell event-date">
            {{ event.end | date:'dd/MM' }}
          </td>
        </ng-container>

          <ng-container matColumnDef="manage">
            <td mat-cell *matCellDef="let event" class="event-cell action-cell">
              <button mat-icon-button class="manage-icon" (click)="manageClickedEvent(event)" matTooltip="Manage Event" aria-label="Manage Event">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: ['color', 'title', 'start', 'end', 'manage'];"></tr>
      </table>
    </div>
  </ng-container>
  <ng-template #noEvents>
    <p class="no-events">No plans yet...</p>
  </ng-template>
</div>
