.calendar-container {
  margin: 0 20px 50px;

  @media (min-width: 768px) {
    margin: 0 0 50px;
  }

  .title {
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0;
    background: linear-gradient(to right,rgba(225, 232, 240, 0.9),rgba(205, 220, 240, 0.7));
    padding: 0.7rem 1rem;
    border-radius: 10px;
  }

  .subtitle {
    font-size: 1rem;
    margin: 0 0 20px;
  }

  .prompt {
    font-size: 0.9rem;
    text-align: center;
  }
}

.calendar-moon-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .calendar-container {
    .title {
      font-size: 2rem;
    } 
    
    .subtitle {
      margin: 16px 0 20px 0;
      font-size: 1.1rem;
    }
  }
 
  .calendar-moon-wrapper {
    flex-direction: row; 
    align-items: flex-start;
    gap: 1.8rem;
  }
  
  .interactive-calendar {
    width: 60%;
  }

  .moon-wrapper {
    width: 40%;
    margin: 90px auto 0; 
  }
}
