/* Footer styles */
footer {
  background-color: rgba(0, 0, 0, 0.777);
  color: #fff; 
  padding: 10px 20px; 
  text-align: center; 
  font-size: 0.8rem; 
  border-top: 6px solid #9B2A9B;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, .2); 
}
  