.recent-activity-section {
  padding: 0.5rem 1rem 3rem;

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;

    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
  
  .activity-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
  
    .megaphone-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  
    span {
      font-size: 1.2rem;
      font-weight: bold;

      @media (min-width: 992px) {
        font-size: 1.4rem;
      }
    }
  }

  .no-activity {
    font-size: 0.9rem;
  }
}

/* Recent posts */
.activity-post {
  padding: 0.5rem 0;
  border-bottom: 1.5px solid #A67CBF; 
  margin: 0;

  .card-content {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .post-content {
    flex: 1;
  
    button {
      font-size: 0.8rem;
      padding: 4px 8px;
      width: 150px;
      
      @media(min-width: 992px) {
        font-size: 0.9rem;
      }
    }
  
    .post-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.3rem;
    }
    
    .post-title {
      font-weight: bold;
      font-size: 1rem;
    }
    
    .post-date {
      font-size: 0.8rem;
      color: grey; 
    }
    
    .post-description {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }  

    .post-comments {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: grey;
      text-align: right;
    }
  }
}

@media (min-width: 768px) {
  .recent-activity-section {
    padding: 0;

    .activity-post {
      flex: 0 0 calc(50% - 0.5rem);
      margin-right: 0; 
      display: flex;
      flex-direction: column; 

      .post-content {
        .post-title {
          font-size: 1.1rem;
        }

        .post-date {
          font-size: 0.9rem;
        }

        .post-description {
          font-size: 1rem;
        }
      }
    }
  }

  .recent-activity-section > div:not(.activity-header) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
    
@media (min-width: 992px) {
  .recent-activity-section {
    .activity-post .post-content {
      .post-title {
        font-weight: bold;
        font-size: 1.3rem;
      }

      .post-date {
        font-size: 0.95rem;
      }
      
      .post-description {
        font-size: 1.1rem;
      }  

      .post-comments {
        font-size: 0.95rem;
      }

      .no-activity {
        font-size: 1.1rem;
      }
    }
  }
}